@charset "UTF-8";

@charset "ISO-8859-1";

.container {
	position: absolute;
	display: flex;
	padding-top: 60px;
	padding-left: 25px;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	font-size: 15px;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .field-responsive {
	width: 15%;
}

.field-responsive .input-box{
  width: 100%;
  margin-top: 20px;
}

.input-box label{
	color: #333;
} 

.input-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 16px;
}

.field-responsive :where(.input-box input) {
	position: relative;
	  height: 50px;
	  width: 100%;
	  outline: none;
	  font-size: 1rem;
	  color: #707070;
	  margin-top: 8px;
	  border: 1px solid #ddd;
	  border-radius: 6px;
	  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.input-box  button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.input-box button:hover {
  background: rgb(88, 56, 250);
}

.container .table-responsive {
	max-height: 100vh;
	padding: 15px;
	overflow-x: scroll;
	overflow-y: scroll;
	width: 85%;
}

@media screen and (max-width: 500px) {
  .field-responsive .input-box {
    flex-wrap: wrap;
  }
  .field-responsive :where(input-box) {
    row-gap: 15px;
  }
}


table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

tr:hover {background-color: coral;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: #f2f2f2;
  color: black;
}